/* Global Styles */

/* Buttons */
.main-button {
    color: #fff;
    background-color: #228B22;
    border-color: #2e6da4;
    align-self: center;
    width: '100%';
}

.main-button:hover {
    background-color: #013220; 
    color: #fff;
}

/* Margins */
.margin-top20 {
    margin-top: 20px;
}

.margin-top10 {
    margin-top: 10px;
}

.margin-bottom20 {
    margin-bottom: 20px;
}

.margin-bottom10 {
    margin-bottom: 10px;
}

.text-margin {
    margin-right: 40px;
}

/* Font */
.font-size {
    font-size: 120%;
}

.font-size13 {
    font-size: 13px;
}

/* Tables & Graphs */
.plot {
    height: 480px;
    width: 600px;
}
